header{
    background-color: beige;
    width: auto;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header h1{
    font-size: 40px;
}
header h2{
    font-size: 20px;
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
}
.img{
    background-image: url(Screenshot\ 2026-06-09\ 12.26.19.png);
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img h1, h2{
    font-size: 40px;
    display: flex;
    margin: 0;
}
.img h3{
    background-color: black;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img a{
    text-decoration: none;
    color: white;
}
.img button{
    width: 150px;
    height: 50px;
    background-color: black;
}
.features{
    display: flex;
    background-color: beige;
    width: 100%
}
.feat1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feat1 h2{
    font-size: 25px;
    font-weight: normal;
}
.feat2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feat2 h2{
    font-size: 25px;
    font-weight: normal;
}
.feat3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feat3 h2{
    font-size: 25px;
    font-weight: normal;
}
.primary{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primary h2{
    font-size: 25px;
    font-weight: normal;
}
.primary h1{
    padding-top: 5%;
}

