header{
    background-color: beige;
    width: auto;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header h1{
    font-size: 40px;
}
header h2{
    font-size: 20px;
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
}
.img{
    background-image: url(Capa.png);
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img h1{
    font-size: 40px;
    display: flex;
    margin: 0;
}
.img h2{
    font-size: 40px;
    display: flex;
    margin: 0;
    font-weight: normal;
}
.img h3{
    background-color: black;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img a{
    text-decoration: none;
    color: white;
}
.img button{
    width: 150px;
    height: 50px;
    background-color: black;
}
.features{
    display: flex;
    background-color: beige;
    width: 100%
}
.feat1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feat1 h2{
    font-size: 25px;
    font-weight: normal;
}
.feat2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feat2 h2{
    font-size: 25px;
    font-weight: normal;
}
.feat3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feat3 h2{
    font-size: 25px;
    font-weight: normal;
}
.primary{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primary h2{
    font-size: 25px;
    font-weight: normal;
    width: 84%;
}
.primary h1{
    padding-top: 5%;
}
.primary img{
    width: 84%;
    margin-top: 1%;
}
.secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.sec1{
    background-color: rgba(128, 128, 128, 0.116);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin: 1%;
}
.sec1 h2{
    font-size: 25px;
    font-weight: normal;
    max-width: 65%;
}
.sec1 button{
    width: 200px;
    height: 38px;
    border-color: aqua;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.sec1 a{
    text-decoration: none;
    color: aqua;
}
.sec2{
    background-color: rgba(128, 128, 128, 0.116);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin: 1%;
}
.sec2 h1{
    display: flex;
    flex-wrap: wrap;
}
.sec2 h2{
    font-size: 25px;
    font-weight: normal;
    max-width: 65%;
}
.sec2 button{
    width: 200px;
    height: 38px;
    border-color: aqua;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.sec2 a{
    text-decoration: none;
    color: aqua;
}
.calling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;    
}
.calling h2{
    font-size: 25px;
    font-weight: normal;
    margin-top: 0%;
    width: 90%;
}
.calling button{
    width: 235px;
    height: 60px;
    border-color: aqua;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.calling a{
    text-decoration: none;
    color: aqua;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(231 231 209);
}
.copyright{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.copyright h1{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0%;
}
.copyright a{
    font-size: 20px;
}
.copyright h2{
    margin: 0%;
}
.company{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.company h1{
    font-size: 20px;
}
.company h2{
    font-size: 20px;
    font-weight: normal;
}
.company a{
    text-decoration: none;
    color:black;
}
.comp1{
    margin: 2%
}
.comp2{
    margin: 2%
}
.comp3{
    margin: 2%
}